.sub-title{
    text-align: center;
}
.form{
    padding: 0 20px;
    .tip{
        color: hsla(200,100%,50%,1);
    }
    div{
        margin-bottom: 8px;
    }
    input{
        display: block;
        border:1px solid #eee;
        outline: none;
        padding: 10px;
        border-radius: 4px;
        font-size: 14px;
        width: 90%;
        &:focus{
            background-color:hsla(60,80%,90%,1);
        }
    }
    .link{
        font-size: 16px;
        text-decoration: underline;
        color: hsla(200,100%,50%,1);
        &:hover{
            color:hsla(200,100%,70%,1);
        }
    }
}
.btn{
    display: block;
    padding: 8px 20px;
    background-color: hsla(200,100%,50%,1);
    color:#fff;
    border-radius: 5px;
    font-size: 14px;
    margin: 10px 0;
    outline: none;
    cursor: pointer;
    &:hover{
        background-color: hsla(200,100%,70%,1);
    }
}