.sub-title{
    text-align: center;
}
.form{
    padding: 0 20px;
}
.link{
    font-size: 16px;
    text-decoration: underline;
    color: hsla(200,100%,50%,1);
    &:hover{
        color:hsla(200,100%,70%,1);
    }
}