{
    "presets": [
        [ "@babel/preset-env", { "useBuiltIns": "entry" } ],
        "@babel/preset-react"
    ],
    "plugins": [
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-transform-runtime",
        [
            "import",
            {
                "libraryName": "antd-mobile",
                "style": "css"
            }
        ],
        [
            "react-css-modules",
            {
                "exclude": "node_modules",
                "filetypes": {
                    ".scss": {
                        "syntax": "postcss-scss"
                    }
                },
                "context": "src/component/",
                "generateScopedName": "[path][name]_[local]_[hash:base64:5]"
            }
        ]
    ]
}