# dependencies
node_modules

# production
dist

# misc
.DS_Store
npm-debug.log*
yarn-error.log

coverage
.idea
yarn.lock
package-lock.json
*bak
.temp_cache

# visual studio code
.vscode
.history
*.log
functions/*
.temp/**